  <form [formGroup]="userForm" (ngSubmit)="editUser()" *ngIf="user">
    <label for="user-id">ID: </label>
    <input type="text" id="user-id" formControlName="id" value="{{ user.id }}" readonly>
    <br>
    <label for="user-first_name">First Name: </label>
    <input type="text" id="user-first_name" formControlName="firstName" value="{{ user.first_name }}">
    <br>
    <label for="user-last_name">Last Name: </label>
    <input type="text" id="user-last_name" formControlName="lastName" value="{{ user.last_name }}">
    <br>
    <label for="user-email">Email: </label>
    <input type="text" id="user-email" formControlName="email">
    <br>
    <p>Avatar: <img [src]="user.avatar" alt="Avatar"></p>
    <button type="submit">Update User: </button>
  </form>
  <div *ngIf="error">{{ error }}</div>

